body {
    background-color: rgb(51, 51, 180);
    color: white;
    font-family: Arial static;
    font-weight: bold;
}

.chamada {
    background-color: rgb(85, 2, 2);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {

    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;

}