body {
    background-color: rgb(51, 51, 180);
    color: white;
}

section {
    background-color: rgb(209, 53, 53);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {

    display: table-row;
    overflow-x: auto;
    overflow-y: auto;
    gap: 5px;
}