body{
background-color:rgb(51, 51, 180);
color: whitesmoke;
}
section{
    background-color: rgb(209, 53, 53);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
div{
    margin-right: 20px;
}
